.Login form {
    display: flex;
  }
  
  .Login .TodoText {
    flex-grow: 2;
  }
  
  .Login .TodoButton {
    flex-grow: 1;
  }
  

#DIV_1 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 392.9px;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    width: 380px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 190px 196.45px;
    transform-origin: 190px 196.45px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 12px / 17.1428px "Open Sans", sans-serif;
    margin: 0px 569.6px;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_1*/

#H1_2 {
    box-sizing: border-box;
    color: rgb(54, 103, 208);
    height: 30.4px;
    text-decoration: none solid rgb(54, 103, 208);
    text-size-adjust: 100%;
    width: 380px;
    column-rule-color: rgb(54, 103, 208);
    perspective-origin: 190px 15.2px;
    transform-origin: 190px 15.2px;
    caret-color: rgb(54, 103, 208);
    border: 0px none rgb(54, 103, 208);
    font: normal normal 400 normal 28px / 30.8px "Open Sans", "Sans Serif";
    margin: 17px 0px 8.5px;
    outline: rgb(54, 103, 208) none 0px;
}/*#H1_2*/

#DIV_3 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 354px;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    width: 380px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 190px 177px;
    transform-origin: 190px 177px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 12px / 17.1428px "Open Sans", sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_3*/

#FORM_4 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 354px;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    width: 380px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 190px 177px;
    transform-origin: 190px 177px;
    caret-color: rgb(51, 51, 51);
    background: rgb(238, 238, 238) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgb(51, 51, 51);
    font: normal normal 400 normal 12px / 17.1428px "Open Sans", sans-serif;
    margin: 0px;
    outline: rgb(51, 51, 51) none 0px;
}/*#FORM_4*/

#DIV_5 {
    background-position: 300px 20px;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 352px;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    width: 378px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 189px 176px;
    transform-origin: 189px 176px;
    caret-color: rgb(51, 51, 51);
    background: rgba(0, 0, 0, 0) url("http://compassqa-blue.ual.com/GatewayUI/CCGateway/resources/img/login-lock.gif") no-repeat scroll 300px 20px / auto padding-box border-box;
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 12px / 17.1428px "Open Sans", sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_5*/

#UL_6 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 352px;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    width: 378px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 189px 176px;
    transform-origin: 189px 176px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 12px / 17.1428px "Open Sans", sans-serif;
    margin: 0px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 20px;
}/*#UL_6*/

#LI_7, #LI_10, #LI_13, #LI_16 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 65.8px;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    width: 338px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 169px 32.9px;
    transform-origin: 169px 32.9px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 12px / 17.1428px "Open Sans", sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*#LI_7, #LI_10, #LI_13, #LI_16*/

#LABEL_8, #LABEL_11, #LABEL_14, #LABEL_17 {
    box-sizing: border-box;
    color: rgb(60, 60, 60);
    display: block;
    height: 20px;
    max-width: 100%;
    text-align: left;
    text-decoration: none solid rgb(60, 60, 60);
    text-size-adjust: 100%;
    width: 338px;
    column-rule-color: rgb(60, 60, 60);
    perspective-origin: 169px 10px;
    transform-origin: 169px 10px;
    caret-color: rgb(60, 60, 60);
    border: 0px none rgb(60, 60, 60);
    font: normal normal 700 normal 13px / 20px "Open Sans", sans-serif;
    list-style: none outside none;
    outline: rgb(60, 60, 60) none 0px;
}/*#LABEL_8, #LABEL_11, #LABEL_14, #LABEL_17*/

#INPUT_9 {
    height: 28.8px;
    text-size-adjust: 100%;
    text-transform: uppercase;
    width: 206px;
    perspective-origin: 103px 14.4px;
    transform-origin: 103px 14.4px;
    background: rgb(250, 255, 189) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgb(75, 114, 162);
    font: normal normal 400 normal 12px / 17.1428px "Open Sans", sans-serif;
    list-style: none outside none;
    margin: 2px 0px 15px;
    padding: 5px;
}/*#INPUT_9*/

#INPUT_12, #INPUT_15 {
    color: rgb(51, 51, 51);
    height: 28.8px;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    text-transform: uppercase;
    width: 206px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 103px 14.4px;
    transform-origin: 103px 14.4px;
    caret-color: rgb(51, 51, 51);
    border: 1px solid rgb(75, 114, 162);
    font: normal normal 400 normal 12px / 17.1428px "Open Sans", sans-serif;
    list-style: none outside none;
    margin: 2px 0px 15px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 5px;
}/*#INPUT_12, #INPUT_15*/

#INPUT_18 {
    color: rgb(51, 51, 51);
    height: 28.8px;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    text-transform: uppercase;
    width: 206px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 103px 14.4px;
    transform-origin: 103px 14.4px;
    caret-color: rgb(51, 51, 51);
    border: 1px solid rgb(75, 114, 162);
    font: normal normal 400 normal 12px / 17.1428px "Open Sans", sans-serif;
    list-style: none outside none;
    margin: 2px 0px 15px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 5px;
}/*#INPUT_18*/

#LI_19 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 48.8px;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    width: 338px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 169px 24.4px;
    transform-origin: 169px 24.4px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 12px / 17.1428px "Open Sans", sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*#LI_19*/

#INPUT_20 {
    color: rgb(255, 255, 255);
    cursor: pointer;
    height: 28.8px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    width: 66.9125px;
    column-rule-color: rgb(255, 255, 255);
    align-items: flex-start;
    perspective-origin: 33.45px 14.4px;
    transform-origin: 33.45px 14.4px;
    user-select: none;
    caret-color: rgb(255, 255, 255);
    background: rgb(22, 118, 198) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgb(37, 77, 156);
    border-radius: 3px 3px 3px 3px;
    font: normal normal 600 normal 12px / 17.1428px "Open Sans", sans-serif;
    list-style: none outside none;
    margin: 20px 0px 0px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 5px 15px;
}/*#INPUT_20*/

